.idea/
project/
cmake-build-*/
docs/html
docs/latex
docs/NOTES.md
build/
bin/
!bin/Sandbox.ini
lib/
x64/
CMakeCache.txt
CMakeFiles
CMakeFiles/CMakeOutput.log
CMakeFiles/cmake.check_cache
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
Sandbox.cbp

# Vendor
vendor/*

# SDL2
!vendor/SDL2/
vendor/SDL2/*

!vendor/SDL2_net/
vendor/SDL2_net/*

!vendor/SDL2/sdl2-config.cmake
!vendor/SDL2_net/sdl2_net-config.cmake
/.vs